$primary-color: #2948ff;
$white-color: #fff;
$slate-color: #475569;
$grey-400: #9ca3af;
$grey-700: #374151;
$stone-400: #a8a29e;
$stone-600: #57534e;
$stone-700: #44403c;
$red-color: #dc2626;
$green-700: #4d7c0f;
$emerald-500: #10b981;
$emerald-700: #047857;
$teal-500: #14b8a6;
$teal-700: #0f766e;
$shuddle-grey: #212121;
$border-radious-button: 2rem;
